section{
  padding: 20px;
}
.container-filters{
    width: 400px;
}
.filters {
    padding: 10px;
    display: inline-block;
    // display: flex;
    // align-items: center; /* Aligner les éléments verticalement */
    justify-content: space-between;
}

// ---------------------
.carte-principale {
    padding: 5px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -50px;
  }
  
  .carte-title {
    font-weight: 700;
    font-size: 1.3em;
    overflow: hidden;
    // text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    align-items: center;
    text-align: center;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .tag {
    font-weight: lighter;
    color: grey;
  }

  .cartSup {
    background-color: rgb(55, 0, 0);
    text-align: center;
    color: white;
  }
  
  .card-img div {
    width: 90%;
  }
  .name{
    padding: 5px, 10px, 10px, 10px;
  }

  
  .card {
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    color: black;
    width: 300px;
    max-height: 350px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: inline-block;
    margin: 2%;
  }
  
  .card-img {
    position: relative;
    top: -15px;
    height: 100px;
    display: flex;
    justify-content: center;
  }

  .card-img a,
  .card-img div {
    height: 60px;
    width: 85%;
    /* Change this width here to change the width of the color/image */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .space{
    top: 0px;
    height: 1px;
    width: 100%;
    display: block;
    background-color: grey;;
  }
  
//   .pv:hover {
//     transform: scale(1.12);
//   }
  
//   .card-imgs {
//     transition: all 0.5s;
//   }
  