.container-paragraphe{
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
    padding: 10px;
    display: inline-block;
}
.boite-a-image{
    width: 60%;
    display: inline-block;
}
.img-dans-container{
    width: 50%;
    height: auto;
}