<!-- <div class="popUp">
    <p class="texteInsidePopUp">
        bienvenue sur le site des info du titanic et de ses passagers
    </p>
</div> -->
<h1>Histoire d'un navire</h1>
<div class="container-paragraphe">
    <h3>Un voyage inaugural qui tourne mal</h3>
    Le RMS Titanic est un paquebot transatlantique britannique qui a fait naufrage dans l'océan Atlantique Nord en 1912
    à la suite d'une collision avec un iceberg, lors de son voyage inaugural de Southampton à New York. Entre 1 490 et 1
    520 personnes trouvent la mort, ce qui fait de cet événement l'une des plus grandes catastrophes maritimes survenues
    en temps de paix et la plus grande pour l'époque.
</div>
<div class="boite-a-image">
    <img class="img-dans-container" src="../assets/titanic-1-1024x576.avif">
</div>
<div class="fond-colorer-large texte-blanc">
    <div class="container-paragraphe-large">
    Paquebot de la White Star Line construit à l'initiative de Joseph Bruce Ismay en 1907, il est conçu par les
    architectes Alexander Montgomery Carlisle et Thomas Andrews des chantiers navals Harland and Wolff. Sa construction
    débute en 1909 à Belfast et se termine en 1912. Il appartient à la classe Olympic avec ses deux sister-ships,
    l'Olympic et le Britannic, les plus luxueux et les plus grands paquebots jamais construits jusqu'alors.
    <br><br>
    Le Titanic est commandé par le capitaine Edward Smith, qui a sombré avec le navire. Le paquebot transportait
    certains
    des gens les plus riches de l'époque, ainsi que des centaines d'émigrants de Grande-Bretagne et d'Irlande et
    d'ailleurs
    en Europe qui cherchaient une nouvelle vie aux États-Unis. La coque du Titanic était pourvue de seize compartiments
    étanches servant à protéger le navire en cas de voies d'eau ou d'avaries importantes, ce qui lui donna la réputation
    de
    paquebot « insubmersible » et conduit les médias contemporains à le présenter comme l'un des navires les plus sûrs.
</div>
</div>
<div class="fond-titanic ">
    <div class="container-paragraphe-large colonnes-deux fond-pour-texte-sur-img">
    Le 14 avril 1912, quatre jours après le commencement de son voyage inaugural, il heurte un iceberg à 23 h 40 (heure
    locale) et coule le 15 avril 1912 à 2 h 20 au large de Terre-Neuve. Le drame met en évidence l'insuffisance des
    règles
    de sécurité de l'époque, notamment le nombre trop faible de canots de sauvetage et les carences dans les procédures
    d'évacuation d'urgence. Le puissant émetteur TSF du bord a permis d'appeler à l'aide, mais dans des conditions
    controversées, qui s'ajoutent à une polémique financière. Des conférences internationales seront par la suite
    organisées, entraînant des changements de réglementation encore en vigueur un siècle après la catastrophe.
    <br>
    L'épave du Titanic est localisée le 1er septembre 1985 par le professeur Robert Ballard. Elle gît à 3 821 m de
    profondeur, à 650 km au sud-est de Terre-Neuve. L'histoire de ce paquebot a marqué les mémoires, et suscité la
    publication de nombreux ouvrages (historiques ou de fiction) et la réalisation de longs métrages dont le film du
    même
    nom Titanic de James Cameron, sorti en 1997 et ayant entraîné un important regain d'intérêt pour le paquebot et son
    histoire. Les médias s'intéressent à nouveau au navire à l'occasion du centenaire de son naufrage, en avril 2012.
</div>
</div>
