<nav>
    <button class="nav-item" *ngIf="authService.getIsAuthenticated(); else notAuthenticated" (click)="authService.logout()">Se deconnecter</button>
    <!-- Ne vérifie rien du tout dès qu'on appuie hop nous envoie sur la page membre -->
    <button class="nav-item" *ngIf="authService.getIsAuthenticated();" (click)="router.navigate(['/page-membre'])">page-membre</button>
    
    <ng-template #notAuthenticated>
        <button class="nav-item" (click)="router.navigate(['/login'])">Se connecter</button>
    </ng-template>
</nav>
<img class="photoLargest" src="../assets/iconBateau.png" alt="Photo iceberg" />
<router-outlet></router-outlet>