.OnOff{
    text-align: right;
    width: 100%;
}
.nav-item {
    cursor: pointer;
    color: black;
    font-size: 15px;
    background-color: transparent;
    border: none;
    margin: 10px;
}
.nav-item :hover{
    color: rgb(87, 157, 255);
}

.photoLargest{
    width: 100%;
    height: auto;
}