<nav class="OnOff">
    <button class="nav-item" *ngIf="authService.getIsAuthenticated(); else notAuthenticated" (click)="authService.logout(); router.navigate(['/login'])">Se deconnecter</button>
    <ng-template #notAuthenticated>
        <button class="nav-item" (click)="router.navigate(['/login'])">Se connecter</button>
    </ng-template>
</nav>
<nav class="menu-horizontal">
    <button class="nav-item" (click)="router.navigate([''])">Accueil</button>
    <button class="nav-item" (click)="router.navigate(['/page-visiteur'])">Liste des passagers</button>
    <button class="nav-item" *ngIf="authService.getIsAuthenticated();" (click)="router.navigate(['/page-membre'])">Interroger les données</button>
</nav>
<div>
    <div class="contient-titanic">
        <p class="titre">Titanic</p>
        <div class="cote-a-cote rotate-left">
            <!-- <p class="titre titre-gauche">TIT</p> -->
            <div class="titanic-gauche"></div>
        </div>
        <div class="cote-a-cote rotate-right">
            <!-- <p class="titre">ANIC</p> -->
            <div class="titanic-droite"></div>
        </div>
    </div>
    <!-- <div class="iceberg slide-top"></div> -->
    <router-outlet></router-outlet>
</div>

