.formulaire{
    background-color: rgb(255, 254, 254);
    width: 30%;
    padding: 40px;
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    border-radius: 20px;
}
input{
    width: 98%;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(246, 246, 246);
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
}
input:focus {
    border-bottom: 2px solid #5bbac7;
    border-radius: 4px 4px 2px 2px;
}

input:hover {
    outline: 1px solid lightgrey;
}

button{
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: black;

    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
  background-color: #5bbac7;
  border: #5bbac7;
  color: white;
}

button:disabled {
    background-color: #c7c7c7;
    border: #c7c7c7;
    color: black;
    box-shadow: rgba(0, 0, 0, .0) 0 0px 0px 0;
    transform: none;

}


// Billet 
.billet-embarquement{
    background: linear-gradient(310deg, #d3ba9f 0%, #f2e9d4 50%, #f3eee4 100%);
    width: 400px;
    margin: auto;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.encadrer-principal{
    border: solid 3px black;
    box-sizing: border-box;
}
.logo{
    width: 100px;
    margin: auto;
    display: block;
    // background-color: brown;
}
.titre-billet{
    font-size: 40px;
    margin: 0px;
}
.titre-billet,
.compagnie-name,
.contenu-billet,
.info-impri{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin: 0px;
}
.encadrer{
    border: solid 1.5px black;
    margin: 15px;
}

.floriture{
    width: 80px;
    margin: auto;
    display: block;
    margin-bottom: 0px;
}
.double-ligne-haut-bas{
    border-top-style: double;
    border-bottom-style: double;
}

.texte-rouge{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    text-align: center;
    font-size: 50px;
    margin: 0px;
}
.souligner{
    text-decoration: underline;
    margin: 0px;
}
.compagnie-name{
    font-size: 20px;
}
.rms{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    margin: 0px;
    letter-spacing: .2rem;
    font-stretch : expanded;
}
.texte-big{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    margin: 0px;
    letter-spacing: .3rem;
    font-stretch : expanded;
}
.info-impri{
    margin-bottom: 10px;
}

// anim

.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	        animation: swirl-in-fwd 0.6s ease-out both;
}

 @-webkit-keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  
  .ligne{
    top: 0px;
    height: 1.5px;
    width: 100%;
    display: block;
    background-color: black;
  }
  .espacement{
    margin-top: 3px;
  }
  .ligne-fin{
    top: 0px;
    height: 3px;
    width: 90%;
    margin: auto;
    display: block;
    background-color: black;
    margin-bottom: 3px;
  }