<section  *ngIf="authService.getIsAuthenticated(); else formulaire">
  <div class="popUp">
    <p class="texteInsidePopUp">
      Vous êtes maintenant connecté
    </p>
</div>

</section>
<ng-template #formulaire>
  <form class="formulaire" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" placeholder="admin@admin.fr" />
    </div>
    <div>
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" formControlName="password" placeholder="admin" />
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
  </form>
</ng-template>
