.formulaire{
    background-color: rgb(255, 254, 254);
    width: 30%;
    padding: 40px;
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    border-radius: 20px;
}
input{
    width: 98%;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(246, 246, 246);
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
}
input:focus {
    border-bottom: 2px solid #5bbac7;
    border-radius: 4px 4px 2px 2px;
}

input:hover {
    outline: 1px solid lightgrey;
}

button{
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: black;

    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
  background-color: #5bbac7;
  border: #5bbac7;
  color: white;
}

button:disabled {
    background-color: #c7c7c7;
    border: #c7c7c7;
    color: black;
    box-shadow: rgba(0, 0, 0, .0) 0 0px 0px 0;
    transform: none;
}